/* Media Queries Section Start */

/* Mobile-Responsive-section-Start */

@media only screen and (max-width: 688px) {
  nav {
    padding: 0;
    margin: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  nav ul li {
    display: none;
  }
  .container-1 {
    margin: 0;
    padding: 0;
    height: 499px;
  }
  .flex-container {
    flex-direction: column;
    text-align: center;
  }
  .camera-img-shadow img {
    width: 280px;
    height: 250px;
  }
  .camera-img-shadow {
    margin: 0;
    padding: 0;
  }
  .influencer-details-btn {
    margin: 40px 0px 0px 0px;
    padding: 0px 20px;
    width: 100%;
  }
  .sec-title {
    font-size: 30px;
    font-weight: 700;
  }
  .details {
    margin-top: 20px;
    font-weight: 500;
    font-size: 10px;
  }
  .prebook-button {
    margin-top: 20px;
  }
  .container-2 {
    margin: 70px 0px 0px 0px;
    padding: 0;
    height: 80px;
  }
  .brand-logo {
    height: 80px;
    margin: 0;
    padding: 0px 30px 0px 20px;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 0;
    border-top: 0;
    border-bottom: 0;
  }
  .brand-logo img {
    width: 50px;
    height: 20px;
  }
  .mobile-view img {
    padding: 0;
    margin-left: 50px;
  }
  .container-3 {
    margin: 0;
    padding: 43px;
  }
  .popular-collection {
    grid-template-columns: repeat(1, 1fr);
  }
  .seemore-arrow-btn {
    padding: 0;
  }
  .container-4 {
    margin: 0;
    padding: 0;
  }
  .featured-products {
    flex-direction: column;
    text-align: center;
  }
  .product-details {
    margin: 40px 0px 0px 0px;
    padding: 0 20px;
    width: 100%;
    text-align: center;
  }
  .product-details h1 {
    padding: 0;
    margin: 10px 0px 0px 0px;
  }
  .product-details p {
    margin: 0;
    padding: 10px 0px 0px 0px;
  }
  .join-now-btn {
    margin: 30px 0px 10px 0px;
  }
  .featured-products-thumbnail img {
    margin-top: 20px;
    width: 300px;
    height: 170px;
    border-radius: 7px;
  }
  .camera-img-shadow img:hover {
    transform: scale(1.15);
    transition: transform 0.5s ease-in-out;
    overflow: hidden;
    cursor: zoom-in;
  }
}

/* Mobile-Responsive-section- End*/

/* Media Queries Section End */
