/* Google-Font-Api-Poppins-Added */

@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Be+Vietnam+Pro:wght@100&family=Bree+Serif&family=Fira+Code:wght@300&family=Luckiest+Guy&family=Orelega+One&family=Poppins:wght@500&family=Source+Sans+Pro:wght@200&display=swap");

/* Google-Font-Api-Poppins-Added */

@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Be+Vietnam+Pro:wght@100&family=Bree+Serif&family=Fira+Code:wght@300&family=Inter:wght@100&family=Luckiest+Guy&family=Orelega+One&family=Poppins:wght@500&family=Source+Sans+Pro:wght@200&display=swap");

/* Common-CSS-And-Utilities */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 100%;
  background-color: #ffff;
  font-family: "Poppins";
}

/* Custom-Css-Property */

:root {
  --nav-color: #3a3a3a;
  --btn-background-color: #e02c6d;
  --btn-color: #ffffff;
}

/* Nav-Bar-Style-Start */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  padding: 0px 100px 0px 120px;
}
nav .logo {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: var(--nav-color);
}
.logo-clr-red {
  color: var(--btn-background-color);
}
nav ul {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 10px;
  list-style-type: none;
  text-align: center;
}
nav > ul > li a {
  text-decoration: none;
  color: var(--nav-color);
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1px;
}

/* Nav-Bar-Style-End */

/* Influencer-title-image-button-div-start */

.container-1 {
  padding: 0px 150px 0px 120px;
  height: 390px;
  margin-bottom: 130px;
}
.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row-reverse;
}
.camera-img-shadow img {
  width: 400px;
  height: 374px;
  margin: 10px;
}
/* this is camera background css but i cant and commented and put it here */
/* .camera-img-shadow svg {
  display: block;
  position: absolute;
  width: 340px;
  height: 300px;
  left: 67%;
  top: 23%;
  z-index: -1;
} */
.camera-img-shadow {
  border: 3px solid #f1e4ff;
  margin: 60px 0px 0px 0px;
}
.camera-img-shadow img:hover {
  transform: scale(1.15);
  transition: transform 0.5s ease-in-out;
  overflow: hidden;
  cursor: zoom-in;
}
.influencer-details-btn {
  /* width: 50%; */
  margin: 40px 80px 18px 0px;
  color: var(--nav-color);
}
.sec-title {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
}
.details {
  margin-top: 18px;
  font-weight: 500;
  font-size: 13px;
}
.prebook-button {
  margin-top: 25px;
  width: 170px;
  height: 44px;
  line-height: 24px;
  padding: 10px 10px;
  border-radius: 41px;
  border: 1px solid #e02c6d;
  cursor: pointer;
  background-color: var(--btn-background-color);
  color: var(--btn-color);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
}
.btn-arrow {
  margin: 0px 8px;
}

/* Influencer-title-image-button-div-End */

/* Brand-logo-section-Start */

.container-2 {
  height: 150px;
  padding: 0px 150px;
  margin-bottom: 30px;
}
.brand-logo {
  height: 100px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
  column-gap: 40px;
  padding: 0px 60px;
  /* we can also use background with linear-gradient but this not recomanded in our assignment requirement */
  /*background: linear-gradient(
    90deg,
    rgba(192, 204, 218, 0.1) 100%,
    rgba(192, 204, 218, 0.6) 50.38%,
    rgba(192, 204, 218, 0.1) 100%
  ); */
  border-top: 0.5px solid rgba(192, 204, 218, 0.6);
  border-bottom: 0.5px solid rgba(192, 204, 218, 0.6);
}
.brand-logo img {
  width: 70px;
  height: 40px;
}
.brand-logo > a > img:hover {
  transform: scale(1.2);
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}

/* Brand-logo-section-end */

/* Popular-Collection-Section-Start */

.container-3 {
  padding: 0px 190px;
  color: var(--nav-color);
  margin-bottom: 80px;
}
.container-title {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 70px;
  text-align: center;
  margin-bottom: 30px;
}
.popular-collection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 25px;
}
.collection-frame {
  width: 300px;
  height: 400px;
  background: var(--btn-color);
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 15px;
  overflow: hidden;
}
.collection-thumbnail img {
  border-radius: 5px;
  width: 270px;
  height: 200px;
}
.collection-thumbnail:hover img {
  transform: scale(1.1);
  transition: transform 0.5s ease-in-out;
  /* by the assignment requirement here is animation in photo-frame image */
}
.collection-details {
  margin-top: 5px;
}
.collection-title {
  color: #18191f;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 40px;
}
.collection-price {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.87);
  margin-top: 5px;
}
.collection-info {
  color: #5e6366;
  letter-spacing: 0.018em;
  margin-top: 4px;
}
.collection-info .fa-star {
  font-size: 12px;
}
.filled {
  /* color: #fb8200; */
  color: #fb8200;
}
.collection-info span {
  margin: 5px 0px 0px 5px;
  font-size: 12px;
}
.collection-info p {
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  color: #787885;
}

/* Popular-Collection-Section-End */

/* Seemore-Arrow-Button-start */

.seemore-arrow-btn {
  color: var(--btn-background-color);
  margin-top: 40px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  display: grid;
  justify-content: end;
  padding: 0px 20px;
  cursor: pointer;
}
.btn-arrow-sign {
  margin: 0px 8px;
}

/* Seemore-Arrow-Button-End */

/* Featured-Products-Section-Start */

.container-4 {
  padding: 0px 165px;
  color: var(--nav-color);
}
.featured-products {
  display: flex;
  flex-direction: row-reverse;
}
.product-details {
  margin: 6px 0px 0px 100px;
  text-align: justify;
  font-family: "Poppins";
  font-style: normal;
}
.product-details h1 {
  color: #0a0826;
  font-weight: 700;
  font-size: 28px;
  line-height: 60px;
  letter-spacing: 1px;
}
.product-details p {
  font-weight: 700;
  font-size: 12px;
  color: #6c6c6c;
  line-height: 20px;
  text-align: justify;
  padding: 0px 100px 0px 0px;
}
.join-now-btn {
  margin-top: 15px;
  width: 150px;
  height: 34px;
  line-height: 24px;
  padding: 5px 10px;
  border: 1px solid #e02c6d;
  cursor: pointer;
  background-color: var(--btn-background-color);
  color: var(--btn-color);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
}
.featured-products-thumbnail img {
  width: 350px;
  height: 214px;
  border-radius: 7px;
}

/* Featured-Products-Section-End */

/* Footer-Section-Start */

.container-5 {
  margin: 80px 0px 0px 0px;
  background-color: #0a0826;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-details {
  width: 262px;
  height: 172px;
  padding: 20px;
  text-align: center;
}
.footer-title h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 36px;
}
.footer-title p {
  font-family: "Manrope";
  font-style: normal;
  color: #d9dbe1;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}
.link-btn {
  margin: 10px 0px 10px 0px;
}
.link-btn > a > i {
  color: var(--btn-color);
  padding: 0px 10px;
  opacity: 0.3;
}

/* Footer-Section-End */
